# -*- mode: conf -*-
CompileFlags:
  Add:
    - -xc
    - -std=gnu99
    - -Wall
    - -Wextra
    - -Wno-comments
    - -Wconversion
    - -Wcast-align
    - -Wvla
    - -Wno-override-init
    - -Wshadow
    - -D__CLANGD__
  Compiler: gcc
Diagnostics:
  Suppress: [ -Wunused-function, -std=gnu99 ]
---
If:
  PathMatch: tests/.*\.c
CompileFlags:
  Add: [ -include, ../framework.h, -DTEST_RUN_PLATFORM="" ]
---
If:
  PathMatch:
    - cbuild.h
    - cbuild.split.h
CompileFlags:
  Add: [ -DCBUILD_IMPLEMENTATION ]
